/* $Id: ie6.css,v 1.1.2.1 2009/03/08 11:48:21 psynaptic Exp $ */

ul.menu li a { /* fixes display: block; issue */
  display: inline;
}

.layout-right #centre {
  width: 690px;
}

.right {
  margin-left: 8px;
}
